﻿@{
    ViewBag.Title = "Home Page";
}


<html>
<head>
    <title>Sayfam</title>
</head>
<body>
    <font size="10">
        
 <center> AİLENİZİN DOSTU OYUN FORUMU </center><center> 

</font>
</body>
<font size="7">

   ****  <center> GÜNCEL HABERLER  </center><center> ****

</font>
<div class="onur-jr"
<div class="onur">Cs : Go %50 indirim vardır.
<div class="onur">LoL indirimleri güncellenmiştir.</div>
<div class="onur">Fifa 17 Haftalık Ultimate Team güncellenmiştir.
<div class="onur">LoL 6.23 patch güncellenmiştir.
<div class="onur">    .
<div class="onur">     .      
<div class="onur">      .          
<div class="onur">.
                    


                </div>
</html>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        
    </a>
    <footer>
        <p>&copy; @DateTime.Now.Year - Bu site bir Onur Özbek yapımıdır.</p>
    </footer>


</div>
</div>